[run]
branch = True
source = snorkel

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    def __repr__
ignore_errors = True
omit =
    test/*
    tutorials/*
    snorkel/labeling/apply/lf_applier_spark.py
