*.sw[opnm]
.DS_Store
/.virtualenv
.ipynb_checkpoints
*.pyc
parser/
/stanford-corenlp-*
*.db*
downloads/
*.model_kwargs
**/checkpoint
**/checkpoints/
__pycache__
*corenlp.log
reports/
logs/

# Sphinx
docs/_build

# PyCharm
.idea

# VS Code
.vscode

# mypy
.mypy*

# TF models
*.info
*.meta
*.data*
*.index

# Embedding models
*.mm

# Tutorial
tutorials/cdr/data/CDR*.BioC.xml
tutorials/cdr/data/dicts

tutorials/intro/data/articles-dev.tsv
tutorials/intro/data/articles-test.tsv
tutorials/intro/data/articles-train.tsv
tutorials/intro/data/gold_labels.tsv

tutorials/tables/data/hardware/

tutorials/babble/protein/geniatagger*
tutorials/babble/cdr/data/*
tutorials/babble/spouse/data/*.tsv

tutorials/babble/protein/genia*
tutorials/babble/cdr/data/

#Babble Labble Image
*.csv
*.log
*.npy
*.__afsDAC5
