[submodule "treedlib"]
	path = treedlib
	url = https://www.github.com/HazyResearch/treedlib.git
	branch = master
[submodule "DockerBuild"]
	path = DockerBuild
	url = https://github.com/netj/DockerBuild.git
[submodule "test/bats"]
	path = test/bats
	url = https://github.com/sstephenson/bats.git
