.project
.pydevproject
*.sw[opnm]
.DS_Store
/.virtualenv
.ipynb_checkpoints
*.pyc
parser/
phantomjs/
poppler/
/stanford-corenlp-*
*.db*
downloads/
.settings/
# Sphinx
docs/_build

# PyCharm
.idea

# TF models
*.info
*.meta
*.data*
*.index

# Embedding models
*.mm

# Tutorial
tutorial/data/CDR_*.BioC.xml
tutorial/data/dicts

tutorials/intro/data/articles-dev.tsv
tutorials/intro/data/articles-test.tsv
tutorials/intro/data/articles-train.tsv
tutorials/intro/data/gold_labels.tsv
tutorials/intro/snorkel.db

tutorials/tables/data/hardware/
tutorials/fonduer/tables/data/hardware/dev/html/
tutorials/fonduer/tables/data/hardware/dev/pdf/
tutorials/fonduer/tables/data/hardware/test/html/
tutorials/fonduer/tables/data/hardware/test/pdf/
tutorials/fonduer/tables/data/hardware/train*/html/
tutorials/fonduer/tables/data/hardware/train*/pdf/
tutorials/fonduer/tables/data/hardware/gold_raw/digikey_raw/
