span.candidate {
    background-color: rgba(255,255,0,0.3);
}

span.highlighted-candidate {
    font-weight: bolder;
    background-color: rgba(255,255,0,1.0);
}

span.hidden-candidate {
    display: none;
}

.panel-heading {
    position: relative;
}

.panel-footer {
    position: relative;
}

.panel-left-justify {
    position: absolute;
    right: 15px;
    top: 20px;
}

.candidate-data {
    display: none;
}

.viewer-page {
    display: none;
}
